.container {
  width: 800px;
  height: 277px;
  background: green;
  position: relative;
  margin: 20px auto;
}
.letter {
  height: 277px;
  display: inline-block;
  background-color: #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-0 {
  width: 200px;
}
.l-1 {
  width: 147px;
}
.l-2 {
  width: 144px;
}
.l-3 {
  width: 130px;
}
.l-4 {
  width: 64px;
}
.l-5 {
  width: 115px;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 277px;
  background-image: url(/google-logo.png);
  pointer-events: none;
}
